.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.card h3 {
  margin-top: 0;
}

.card-nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card-actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}